@{
    ViewData["Title"] = "Welcome";
}
<div class="jumbotron">
    <h1>
        PI Temperature Server
        <br>
        <small>Administration.</small>
    </h1>
    <p>Please login with your user account to administrate.</p>
    <p>
        Setup the Raspberry PI for monitoring Tempratures.
    </p>
    <p>
        <b>Set the name of the sensors.</b>
    </p>
</div>