@{
    ViewData["Title"] = "Welcome";
}
<div class="jumbotron">
    <h1>
        PI Temperature Server
        <br>
        <small>Administration.</small>
    </h1>
    <p>Please login with your user account to administrate.</p>
    <p>
        Setup the PI Temperature Server for monitoring Tempratures.
    </p>
    <p>
        <b>Consult the <a asp-controller="Home" asp-action="Help">help</a> for more information.</b>
    </p>
</div>