@{
    ViewData["Title"] = "Welcome";
}
<div class="jumbotron">
    <h1>
        PI Temperature Server
        <br>
        <small>Monitor.</small>
    </h1>
    <p><b>Monitors temprature with Raspberry PI.</b></p>
    <p><a asp-controller="Home" asp-action="Index" class="btn btn-primary" role="button">Monitor</a></p>
    <p>
        Add up to 100 DS18s20 onewire sensors.
    </p>
    <p>
        <b>Go to Admin site to setup.</b>
    </p>
</div>