@{
    ViewData["Title"] = "Temperature";
    //Layout = Layout = "~/Views/Shared/_LayoutHub.cshtml";
}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">PI Tempereture Server </h3>
                <div class="hidden" id="connectionStateContanier">
                    <span class="label label-info" data-bind="visible: connectionState() === $.signalR.connectionState.connecting">Connecting</span>
                    <span class="label label-success" data-bind="visible: connectionState() === $.signalR.connectionState.connected">Connected</span>
                    <span class="label label-warning" data-bind="visible: connectionState() === $.signalR.connectionState.reconnecting">Reconnecting</span>
                    <span class="label label-danger" data-bind="visible: connectionState() === $.signalR.connectionState.disconnected">Disconnected</span>
                </div>
            </div>
            <div class="panel-body">
                <div data-bind="visible: sensors().length === 0">Loading...</div>
                <div class="row" data-bind="visible: sensors().length > 0, template: { name: 'sensor-template', foreach: sensors }">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="sensor-template">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <canvas data-bind="attr: { id: Sensor }"></canvas>
    </div>
</script>
@section Scripts {
    <script src="~/signalr/hubs"></script>
    <environment names="Development">
        <script src="~/js/gauge.js"></script>
        <script src="~/js/temp.app.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/gauge.min.js"></script>
        <script src="~/js/temp.app.min.js"></script>
    </environment>
}