@using System.Security.Claims
<ul class="collapse navbar-collapse nav navbar-nav">
    <li><a asp-controller="Home" asp-action="About"><i class="glyphicon glyphicon-dashboard"></i> About</a></li>
    <li><a asp-controller="Admin" asp-action="Index"><i class="fa fa-globe"></i> Admin site</a></li>
@if (User.Identity.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-navicon"></i> Menu <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a asp-controller="Admin" asp-action="AdminSensors"><i class="fa fa-tachometer"></i> Sensors</a></li>
            <li class="divider"></li>
            <li><a asp-controller="Admin" asp-action="Shutdown"><i class="fa fa-pause"></i> Shutdown</a></li>
            @*<li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>*@
        </ul>
    </li>
}
</ul>
