@{
    if (ViewBag.HideNav == null)
    {
        ViewBag.HideNav = false;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="PI Temperature Server" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - PI Temperature Server</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/bootstrap-colorpicker.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
              asp-fallback-href="~/css/font-awesome.css"
              asp-fallback-test-class="fa" asp-fallback-test-property="display" asp-fallback-test-value="inline-block" />
        <link rel="stylesheet" href="~/css/bootstrap-colorpicker.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="manifest" href="~/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff"></head>
<body>
    <!-- topbar starts -->
    @if (!ViewBag.HideNav)
    {
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img alt="Information Display" src="~/images/logo20.png" class="hidden-xs" />
                        <span>PI Temperature Server</span>
                    </a>
                    <!-- user dropdown -->
                    @await Html.PartialAsync("_UserDropDown")
                    @await Html.PartialAsync("_DropDownMenu")
                </div>
            </div>
        </div>
    <!-- topbar ends -->
    }
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                @RenderBody()
            </div>
        </div>
        <!-- Footer -->
        @await Html.PartialAsync("_Footer")
    </div>
    <div class="modal fade" id="okCancelModal" role="dialog" aria-labelledby="okCancelModalLabel">
        <div class="modal-dialog modal-sm" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="okCancelModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="okCancelModalButton" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/jquery.signalR.js"></script>
        <script src="~/js/knockout.js"></script>
        <script src="~/js/site.app.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/js/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.0.min.js"
                asp-fallback-src="~/js/jquery.signalR.min.js"
                asp-fallback-test="$.connection">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.0.js"
                asp-fallback-src="~/js/knockout.js"
                asp-fallback-test="window.ko">
        </script>
        <script src="~/js/site.app.min.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>

</html>
